/* 
Things to come back to:
- Download nice font
- color themes
- add avatar description in html
- adjust the description to create a nice paragraph in css
- make sure website looks nice in multiple views
- add images
- add about
- add popup and hover effect to about instead of just normal paragraph
- add footer 
- add send fnctionality with "enter"
*/

/* declaring the custom font */
@font-face {
    font-family: 'Coolvetica'; 
    src: url('/static/Coolvetica Rg.otf') format('opentype');
} 

html{
    text-align: center;
}

footer{
    background-color: #708055;
}
.lotus_logo{
    Height: 30%;
}
.title{
    margin-top: 85px;
}

.foot{
    padding: 1.5em;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #708055;
    color:white;
    font-size: 2em;
    box-shadow: 0 2px 40px rgb(6, 13, 8);
}

.side{
    display:flex;
    flex-direction:row;
    
}

.welcome{
    max-width: 60%;
    max-height: 60%;
}

.welcome1{
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
}


body {
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start;
    height: 100vh; 
    font-family: 'Coolvetica';
    background-color: #97a97c;
    padding: 0;
}

p{
    margin: 1em;
    margin-left: 30px;
    font-size: 1.5em;
}

.about{
    margin-left: 30px;
    text-align: left; 
}


h1{
    margin: .8em;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 4em;
}

h2{
    margin: 0.5em;
    margin-left: 30px;
    font-size: 5em;
    text-align: left; 
}


.buttons-container {
    display: flex;  
    justify-content: center;  
    gap: 50px;  
    flex-wrap: wrap; 
    padding: 20px; 
    margin-top: 30px;
    margin-bottom: 30px;
}


.button-wrapper {
    display: flex;
    flex-direction: column;  
    align-items: center;  
    text-align: center;  
}


button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px; 
}

.image-button {
    width: 200px; 
    height: 235px; 
    background-size:cover;
    background-position: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 10px; 
    transition: transform 0.2s; 
    
}


#avatar1 { background-image: url('images/default.png');}
#avatar2 { background-image: url('images/funny.png'); }
#avatar3 { background-image: url('images/gossip.png'); }
#avatar4 { background-image: url('images/eli5.png'); }


.image-button:hover {
    transform: scale(1.1); 
}


.button-wrapper p {
    font-size: 16px;
    margin-top: 10px;
}

.button-wrapper p:hover{
    transform: scale(1.2); 
    color: red;

}


.tooltip {
    position: relative;
    cursor: pointer;
}


.tooltip::after {
    content: attr(data-tooltip); 
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    top: 150%; 
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
}

.tooltip:hover::after {
    opacity: 1;
    visibility: visible;
}



