<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="index.js" defer></script>
    <link rel="stylesheet" href="index.css">
    <title> FIO </title>
</head>

<body>
    <header>
        <img id="WelcomeLogo" src="logo.PNG" alt="Main Welcome FIO Logo">
        <h1>Figure It Out!</h1>
    </header>

    <hr id="line1">

    <div class="buttons-container">
        <div class="button-wrapper" id="1">
            <button id="avatar1" class="image-button"></button>
            <p class="tooltip" data-tooltip="description"> Default </p>
        </div>

        <div class="button-wrapper" id="2">
            <button id="avatar2" class="image-button"></button>
            <p class="tooltip" data-tooltip="description"> Funny </p>
        </div>

        <div class="button-wrapper" id="3">
            <button id="avatar3" class="image-button"></button>
            <p class="tooltip" data-tooltip="description"> Talkative </p>
        </div>

        <div class="button-wrapper" id="4">
            <button id="avatar4" class="image-button"></button>
            <p class="tooltip" data-tooltip="description"> Explain like I'm 5 </p>
        </div>
    </div>


    <hr id="line2">

    <div id="about">
        <h2>What is FIO?</h2>

    </div>

    <hr id="line3">

    <footer>

    </footer>
    
</body>
</html>