<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='talkative.css') }}">
    <script src="{{ url_for('static', filename='talkative.js') }}"></script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"> </script>
    <title>FIO - Talkative</title>
</head>



<body>
    <header>
        <div class="icons">
            <button id="home" class="image-button" class="tooltip" data-tooltip="description"> Home </button>
        </div>

        <div id="corner">

            <div class="icons">

                <div class="icons">
                    <button id="restart" class="image-button"> Restart </button>
                </div>

                <button id="switch" class="image-button"> Switch </button>

                <div id="modal" class="modal">
                    <div class="modal-content">
                        <span id="closeModalButton" class="close">&times;</span>
                        <h2>Are you sure you want to change your character?</h2>
                        <p>The conversation you're having right now will be lost.</p>
                        <button id="confirmExitButton">Yes!</button>
                        <button id="cancelExitButton">Ooops... No!</button>
                    </div>
                </div>

            </div>
        </div>

    </header>

    <hr id="line1">

    <div class="body">

        <div class="side">
            <div id="avatar">  </div>

            <div id="description">
                <p> bla bla bla bla <br> bla bla bla <br> bla bla bla <br> </p>
            </div>

        </div>

        <div class="box">
            <div class="chat"> </div>
            
            <div id="conversation">
            <form>
                <input type="text" id="userInput" name="userInput">
            </form>
            <button id="send"> </button>
            </div>

        </div>

    </div>
    
</body>
</html>